 
 /* Mobile */
 @media only screen and (max-width: 500px) {
    body {
        background-color: rgb(246, 173, 173);
    }

    * {
        margin: 0;
        padding: 0;
      }

      #videoprincipal {
        width: 100%;
      }
      
      img {
        width: 550px;
        height: 400px;
        text-align: left;
        margin: 10px;
        padding: 0px;
        border-radius: 10px;
        position: relative;
        left: 150px;
      }
      
      a {
        font-size: 7px;
        text-decoration: none;
        color: black;
        margin-left: 5px;
        margin-right: 5px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      
      .navegadores {
        text-align: right;
      }
      
      h1 {
        background-color: black;
        color: aliceblue;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      
      h2 {
        text-align: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        background-color: rgb(226, 202, 202);
        font-size: 10px;
      }
      
      h3 {
        text-align: center;
        margin-top: 30px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      
      ul {
        list-style-type: none;
      }
      
      li {
        list-style-type: none;
      }
      
      
      nav {
        text-align: right;
        background-color: black;
        width: 100%;
      }
      
      .menu-principal img {
        background-color: rgb(0, 0, 0);
        width: 30px;
        height: 30px;
        position: relative;
        left: 0px;
      }
      
      .videos-conf {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        position: relative;
        bottom: 0px;
      }
      
      
      
      .videos-conf video {
        width: 140px;
        height: 45px;
        position: relative;
        right: 10px;
        bottom: 40px;
        left: 0px;
        margin: 20px;
      }
      
      .videos-conf h3{
        position: relative;
        bottom: 20px;
        left: 0px;
        right: 50px;
        font-size: 8px;
      }
      
      .videos-conf li{
        color: black;
        background-color: white;
        margin: 5px;
        border-style: solid;
        border-radius: 10px;
        width: 180px;
        height: 70px;
      }
      
      .videos-conf li:hover{
        transform: scale(1.1);
      }

      .icons {
        width: 30px;
        height: 30px;
        position: relative;
        left: 0px;
        margin: 0%;
        padding: 0%;
      }
      
      .link a{
        background-color: rgb(196, 204, 198);
        border-radius: 2px;
        padding: 1px;
        margin: 5px;
        width: 50px;

      }
      
      .link a:hover{
        background-color: white;
        color: rgb(0, 0, 0);
      }
      
 }

  /* Tablet */
  @media only screen and (min-width: 501px) and (max-width: 960px){
    body {
        background-color: rgb(246, 173, 173);
    }

    * {
        margin: 0;
        padding: 0;
      }
      
      #videoprincipal {
        width: 100%;
      }

      img {
        width: 550px;
        height: 400px;
        text-align: left;
        margin: 10px;
        padding: 0px;
        border-radius: 10px;
        position: relative;
        left: 150px;
      }
      
      a {
        font-size: 12px;
        text-decoration: none;
        color: black;
        margin-left: 5px;
        margin-right: 5px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        text-align: right;
      }
      
      .navegadores {
        text-align: right;
      }
      
      h1 {
        background-color: black;
        color: aliceblue;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      
      h2 {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        background-color: rgb(226, 202, 202);
      }
      
      h3 {
        text-align: center;
        margin-top: 30px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      
      ul {
        list-style-type: none;
      }
      
      li {
        list-style-type: none;
      }
      
      
      nav {
        text-align: right;
        background-color: black;
        width: 100%;
      }
      
      .menu-principal img {
        background-color: rgb(0, 0, 0);
        width: 30px;
        height: 30px;
        position: relative;
        left: 0px;
      }
      
      .videos-conf {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
        padding: 10px;
        position: relative;
        bottom: 0px;
      }
      
      
      
      .videos-conf video {
        width: 250px;
        height: 150px;
        position: relative;
        bottom: 30px;
        left: 0px;
        right: 50px;
        margin: 20px;
      }
      
      .videos-conf h3{
        position: relative;
        bottom: 10px;
        left: 0px;
        right: 50px;
      }
      
      .videos-conf li{
        color: black;
        background-color: white;
        margin: 10px;
        border-style: solid;
        border-radius: 10px;
        width: 300px;
        height: 200px;
      }
      
      .videos-conf li:hover{
        transform: scale(1.1);
      }

      .icons {
        width: 30px;
        height: 30px;
        position: relative;
        left: 0px;
        margin: 0%;
        padding: 0%;
      }
      
      .link a{
        background-color: rgb(196, 204, 198);
        border-radius: 2px;
        padding: 1px;
        margin: 5px;
      }
      
      .link a:hover{
        background-color: white;
        color: rgb(0, 0, 0);
      }
      
 }

  /* dextop */
  @media only screen and (min-width: 961px) {
    body {
        background-color: rgb(246, 173, 173);
    }
    * {
        margin: 0;
        padding: 0;
      }
      
      #videoprincipal {
        width: 100%;
      }

      img {
        width: 550px;
        height: 400px;
        text-align: left;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        left: 150px;
      }
      
      a {
        font-size: 15px;
        text-decoration: none;
        color: black;
        margin-left: 5px;
        margin-right: 5px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        text-align: right;
      }
      
      .navegadores {
        text-align: right;
      }
      
      h1 {
        background-color: black;
        color: aliceblue;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      
      h2 {
        text-align: center;
        margin-top: 50px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        background-color: rgb(226, 202, 202);
        
      }
      
      h3 {
        text-align: center;
        margin-top: 30px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      
      ul {
        list-style-type: none;
      }
      
      li {
        list-style-type: none;
      }
      
      
      body section h2 video source {
        width: 100%;
      }
      
      nav {
        text-align: right;
        background-color: black;
        width: 100%;
      }
      
      .menu-principal img {
        background-color: rgb(0, 0, 0);
        width: 30px;
        height: 30px;
        position: relative;
        left: 0px;
      }
      
      .videos-conf {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
        padding: 10px;
        position: relative;
        bottom: 0px;
      }
      
      
      
      .videos-conf video {
        width: 500px;
        height: 400px;
        position: relative;
        bottom: 80px;
        left: 0px;
        right: 50px;
        margin: 20px;
      }
      
      .videos-conf h3{
        position: relative;
        bottom: 10px;
        left: 0px;
        right: 50px;
      }
      
      .videos-conf li{
        color: black;
        background-color: white;
        margin: 20px;
        border-style: solid;
        border-radius: 10px;
        width: 550px;
        height: 410px;
      }
      
      .videos-conf li:hover{
        transform: scale(1.1);
      }

      .icons {
        width: 30px;
        height: 30px;
        position: relative;
        left: 0px;
        margin: 0%;
        padding: 0%;
      }
      
      .link a{
        background-color: rgb(196, 204, 198);
        border-radius: 2px;
        padding: 1px;
        margin: 5px;
      }
      
      .link a:hover{
        background-color: white;
        color: rgb(0, 0, 0);
      }
      
 }

