/* Tablet */
@media screen and (min-width: 501px) and (max-width: 960px){
    header{

        h1{
            background-color: black;
            color: aliceblue;
            font-size: 30px;
            width: 100%;
            text-align: left;
            display: flex;
            align-items: center;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
        .menu-principal{
            img{
                background-color: rgb(0, 0, 0);
                width: 40px;
                height: 40px;
                position: relative;
                left: 0px;
                margin: 5px;
            }
        }
        nav {
            text-align: right;
            background-color: black;
            width: 100%;
          
        a {
            font-size: 12px;
            text-decoration: none;
            color: black;
            margin-left: 5px;
            margin-right: 5px;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            text-align: right;
          }
        }
        .link{
            a{
                background-color: rgb(197, 207, 201);
                border-radius: 2px;
                padding: 1px;
                margin: 5px;
                :hover {
                    background-color: rgb(252, 252, 252);
                    color: rgb(0, 0, 0);
                  }            
            }
        }
    }
    main{
        .pag-inicio{
            h2{
                position: relative;
                top: 0px;
            }
        }
        img {
            width: 450px;
            height: 300px;
            text-align: left;
            margin: 10px;
            padding: 0px;
            border-radius: 10px;
            position: relative;
            left: 75px;
        }  
        p{
            color: black;
            font-size: 12px;
            text-align: center;
            margin: 30px;
            margin-top: 30px;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
        h2{
            text-align: center;
            font-size: 20px;
            margin-top: 0px;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            background-color: rgb(226, 202, 202);
              }
        
        h3 {
          font-size: 15px;
            text-align: center;
            margin-top: 10px;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          }
          ul {
            list-style-type: none;
          }
          li {
            list-style-type: none;
            font-size: 10px;
          }
          .icons {
            width: 25px;
            height: 25px;
            position: relative;
            left: 0px;
            margin: 0%;
            padding: 0%;
          }
          iframe {
            width: 60px;
            height: 50px;
            position: relative;
            left: 0px;
            top: 20px;
            border-radius: 10%;
          }
          
          .contacto-config{
            p{
                text-align: left;
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 12px;
            }
            input {
                border-radius: 5px;
                text-align: center;
                font-size: 12px;
              }
              label {
                margin-left: 30px;
                border-radius: 5px;
                font-size: 12px;
              }
              #opciones {
                margin-left: 30px;
                border-radius: 5px;
                font-size: 12px;
              }
              textarea {
                margin-left: 30px;
                border-radius: 5px;
                font-size: 12px;
              }
          }

          .videos-conf{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 10px;
            padding: 10px;
            position: relative;
            bottom: 0px;
            video{
                width: 250px;
                height: 150px;
                position: relative;
                bottom: 30px;
                left: -1px;
                margin: 20px;
                border-radius: 10px;
            }
            h3{
                position: relative;
                bottom: 10px;
                left: 0px;
                right: 50px;
            }
            li{
                color: black;
                background-color: white;
                margin: 10px;
                border-style: solid;
                border-radius: 10px;
                width: 289px;
                height: 177px;
              :hover {transform: scale(1.1);
              transition: 1s;
                }
            }
        }
        .card{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            :hover {
              transform: scale(1.1);
              transition: 1s;
            }
        
              p{
                color: black;
                background-color: white;
                margin: 20px;
                border-style: solid;
                border-radius: 10px;
                width: 200px;
                height: 160px;
                display: grid;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 15px;
              }
              .card-nosotros {
                width: 160px;
                height: 115px;
                text-align: left;
                position: relative;
                bottom: 15px;
                left: 0px;
                margin: 20px;
                padding: 10px;
                border-radius: 20px;
              }
        }
    }
  }
