main{
    .pag-inicio{
        h2{
            position: relative;
            top: 50px;
        }
    }
    img {
      width: 550px;
      height: 400px;
      text-align: left;
      margin: 20px;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      left: 150px;
    }  
    p{
        color: black;
        font-size: 15px;
        text-align: center;
        margin: 30px;
        margin-top: 30px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    h2{
        text-align: center;
        margin-top: 50px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        background-color: rgb(226, 202, 202);
        #videoprincipal {
            width: 100%;
          }
    }
    h3 {
        text-align: center;
        margin-top: 30px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      ul {
        list-style-type: none;
      }
      li {
        list-style-type: none;
      }
      .icons {
        width: 30px;
        height: 30px;
        position: relative;
        left: 0px;
        margin: 0%;
        padding: 0%;
      }
      iframe {
        width: 100px;
        height: 90px;
        position: relative;
        left: 0px;
        top: 30px;
        border-radius: 10%;
      }
      
      .contacto-config{
        p{
            text-align: left;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        input {
            border-radius: 5px;
            text-align: center;
          }
          label {
            margin-left: 30px;
            border-radius: 5px;
          }
          #opciones {
            margin-left: 30px;
            border-radius: 5px;
          }
          textarea {
            margin-left: 30px;
            border-radius: 5px;
          }
      }
}