.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    :hover {
      transform: scale(1.1);
    }

      p{
        color: black;
        background-color: white;
        margin: 20px;
        border-style: solid;
        border-radius: 10px;
        width: 240px;
        height: 220px;
        display: grid;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 20px;
      }
      .card-nosotros {
        width: 200px;
        height: 140px;
        text-align: left;
        position: relative;
        bottom: 0px;
        left: 0px;
        margin: 20px;
        padding: 10px;
        border-radius: 20px;

      }

}